*{
  font-family: "Raleway", sans-serif;
  color:black;
}
.brand{
    position:absolute;
    margin-left:10px;
    color:#0476d0;
    font-size:30px;
    font-weight: bold;
}
h2{
    position:absolute;
    top:15%;
    left:6%;
    display: inline-block;
}
p{
    position:absolute;
    top:23%;
    left:6%;
    display: inline-block;
    font-weight:550;
}
.form-container{
    position:absolute;
    top:30%;
    left:5%;
    padding:20px 20px 20px 20px;
}
.form{
    width:400px;
}
.form-group{
    padding-bottom:10px;
}
#btn{
    font-weight: bold;
    background-color:#0476d0;
    border-color:#0476d0;
}
video{
    position:relative;
    left:45.7%;
    height:100vh;
}
