*{
  font-family: "Raleway", sans-serif;
  color:white;
  margin:0;
}




/*Navbar*/
#brand-name{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
nav{
background:radial-gradient(
    circle at center,     
    #223869 0%,         
    #0b2743 20%,       
    #0a243d 40%,       
    #0c2a46 70%,       
    #11253e 100%  
);
}
.container-fluid{
    position:relative;
    z-index:2;
}
#navopt{
    color:white;
    font-size:20px;
    font-weight:450;
}
#navopt:hover{
  color: rgb(207, 206, 206);
}




/*Background*/
.feature1{
  margin:0;
  padding:0;
  height:100vh;
  background:url("img6.jpg");
  background-size:cover;
}
.wave {
  position: absolute;
  z-index:2;
  bottom:-50px;
  left: 0;
  width:100%;
  height:auto;
}
.feature2{
position: relative;
height:320vh;
background:#09192c;
}





/* Features */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
#title{
  position: relative;
  top:15%;
  text-align: center;
  font-size:70px;
  text-shadow: 2px 2px 2px rgb(0 0 0/0.6);
}
#sline{
  position: relative;
  top:20%;
  text-align:center;
  font-size:30px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(0 0 0/0.6);
  overflow: hidden;
  white-space: nowrap; 
  margin: 0 auto; 
  animation:  typing 2s steps(40, end);
}
.feature2 h3{
  position:absolute;
  display:inline-block;
  font-size: 40px;
}
.feature2 p{
  position:absolute;
  display:inline-block;
  font-size:22px;
  font-weight:500;
  width:600px;
}

.f1{
  z-index:2;
  padding:20px 20px 20px 20px;
}
.p1{
  padding-left: 20px;
  top:5%;
}
.img1{
  position:relative;
  z-index:2;
  left:55%;
  margin-top:45px;
  height: 300px;
  width: 500px;
}

.f2{
  top:25%;
  left:50%;
}
.p2{
  top:30%;
  left:50%;
}
.img2{
  position:relative;
  z-index:2;
  top:24%;
  right:35%;
  height: 300px;
  width: 500px;
}

.f3{
  top:50%;
  right:60%;
  padding:20px 20px 20px 20px;
}
.p3{
  right:50%;
  top:55%;
}
.img3{
  position:relative;
  z-index:2;
  left:55%;
  top:31%;
  margin-top:45px;
  height: 300px;
  width: 500px;
}
#map{
  position: relative;
  top:57%;
  right:77%;
  font-weight:700;
  height:40px;
  width: 95px;
  color:white;
  background-color: #1b99d4;
  border-color:#1b99d4;
}
#map:hover{
  color: white;
  border: 2px solid #1b99d4;
  background-color:#09192c;
}

.f4{
  top:75%;
  left:50%;
}
.p4{
  top:80%;
  left:50%;
}
.img4{
  position:relative;
  z-index:2;
  top:55%;
  right:35%;
  height: 300px;
  width: 500px;
}






/*Footer */
.foot{
  /* background-color:#003060; */
   background:linear-gradient(
    to right, 
    #0c2943 0%,         
    #0a2743 20%,       
    #0e3050 40%,       
    #0c2741 70%,       
    #12253d 100%     
);
}
.foot p{
  font-size:30px;
  font-weight:500;
  text-align: center;
  padding-top: 15px;
}
#dataset{
  position: relative;
  left:43%;
  margin-bottom:20px;
  font-weight:700;
  height:45px;
  color:white;
  border: 2px solid #1b99d4;
}
#dataset:hover{
  color: white;
  background-color: #1b99d4;
}


