*{
  font-family: "Raleway", sans-serif;
  color:black;
  margin:0;
}

/* Navbar */
#brand-name{
    font-size: 30px;
    font-weight: bold;
}
nav{
background:#d4f1f4;
}
#navopt{
    color:black;
    font-size:20px;
    font-weight:450;
}
#navopt:hover{
  color:gray
}




/*Background*/
.page1{
  margin:0;
  padding:0;
  height:100vh;
  background:url("bg2.png");
  background-size:cover;
}
.page2{
  margin:0;
  padding:0;
  height:250vh;
  background-color:#d4f1f4;
}




/* section1 */
.page1 p{
  position:relative;
  top:35%;
  color: white; 
  margin: auto;
  font-size: 30px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0 0 0/0.6);
}
#search{
  position:relative;
  top:45%;
  right:10%;
}
#select{
  position:relative;
  display: inline-block;
  top:36%;
  left:63%;
  width:200px;
}






/* page2 */
.page2 h4{
  display: inline-block;
  position: relative;
  top:3%;
  left:5%;
  margin-left:2px;
  font-weight: 600;
}

.dop{
  color: rgb(92, 92, 92);
}
.auth{
  font-weight:600;
  font-size: 15px;
  background-color: rgb(200, 234, 239);
  border: 3px solid rgb(200, 234, 239);
  border-radius: 5px;
}
.card-container {
  display: flex;
  position: relative;
  top:5%;
  margin-left: 60px;
  margin-right: 60px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px #77e5f1;
}
#more{
  position: relative;
  top:6%;
  left:5%;
  margin-bottom:20px;
  font-weight:700;
  height:40px;
  width:90px;
  color:black;
  border: 2px solid #1b99d4;
}
#more:hover{
  color:white;
  background-color: #1b99d4;
}




/* Footer */
.footer{
  background-color:#156080;
  height:80px;
}
 @keyframes slide-in {
    0% {
      transform: translateX(-100%); 
    }
    100% {
      transform: translateX(100vw); 
    }
  }
.text{
  position: relative;
  top:10%;
  overflow: hidden;
}
.footer a{
  animation: 5s linear 5s infinite running slide-in;
  white-space: nowrap;
  display: inline-block;
  color:#4efeec;
  font-size:20px;
  margin-top:10px;
}

